h1 {
    text-align:center;
    color: white;
    background: purple;
    padding: 5px;
}
	
body {
  background: linear-gradient(to bottom right, lemonchiffon, white);
  padding: 15px;
  font-family: Verdana;
}
.column1 {
  width: 28%;
  float: left;
}
.column2 {
  width: 48%;
  float: left;
}
img {
	 max-width: 100%
}
.photo {
	box-shadow: 4px 4px 4px gray
	transform: rotate(10deg);
	}
h2 {
	color: white;
	background: purple;
	padding: 5px;
	margin: 0px 0px 10px 0px;
	boxshadow: 2px 2px 2px gray;
	text-align: center;
}
.item {
	padding: 10px;
	margin-bottom: 10px;
	border: 3px dashed purple;
	float: none;
}
#chant {
	font-size: 30px;
	color: white;
	background: linear-gradient(purple, white);
	padding: 30px;
	border-radius: 5px;
	text-align: center;
}
